<div class="top-row ps-3 navbar navbar-dark d-md-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bataille Navale</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <NavLink class="nav-link" href="/">
            <span class="bi bi-house-door-fill"></span>
            Home
        </NavLink>

        <NavLink class="nav-link" href="/placement">
            <span class="bi bi-controller"></span>
            Local Game
        </NavLink>

        <NavLink class="nav-link" href="/multiplayer">
            <span class="bi bi-trophy"></span>
            Multiplayer Game
        </NavLink>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass =>
        collapseNavMenu ? "collapse" : "show"; 

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}